.login-background {
    background-color: aqua;
    background: rgb(204, 72, 255);
    background: linear-gradient(135deg, rgba(204, 72, 255, 1) 0%, rgba(78, 102, 208, 1) 50%, rgba(0, 241, 255, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        background-color: white;
        width: 420px;
        height: 370px;

        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
            }

            .login-input {
                position: relative;
                font-size: 16px;
                margin: 7px 0;

                i {
                    position: absolute;
                    bottom: 9px;
                    right: 20px;
                    cursor: pointer;
                }
            }

            .errorMessage {
                color: red;
                font-size: 12px;
            }

            .forgot-password {
                padding:  0 0 10px 15px;
                font-size: 14px;
                cursor: pointer;
            }

            .btn-login {
                display: flex;
                justify-content: center;
                margin: 10px 0;
                height: 40px;

                button {
                    background: rgb(204, 72, 255);
                    background: linear-gradient(135deg, rgba(204, 72, 255, 1) 0%, rgba(78, 102, 208, 1) 50%, rgba(0, 241, 255, 1) 100%);
                    width: 100%;
                    height: 100%;
                    color: white;
                    border: none;
                    outline: none;
                    font-size: 20px;
                }
            }

            .iconOtherLogin {
                width: 40%;
                margin-top: 8px;
                display: flex;
                justify-content: space-around;
                
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    height: 38px;
                    border: rgb(199, 199, 199) solid 1px;
                    border-radius: 50%;
                    font-size: 26px;
                    cursor: pointer;
                }

                .fa-google {
                    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }

                .fa-facebook {
                    color: #3b5998;
                    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
                    background-size: 55%;
                    background-position: 70% 0;
                    background-repeat: no-repeat;
                }

                .fa-twitter {
                    color: #1DA1F2;
                }
            }
        }
    }
}